.selector-bar > p {
    margin-right: 40px;
    font-size: 13px;
    color: rgb(189, 143, 70);
    cursor: pointer;
}

.selector-bar {
    margin-top: 60px;
    margin-bottom: 60px;
}

.progress-steps {
    margin-top: 100px;
}

@media only screen and (max-width: 700px) {
    .selector-bar {
        margin-top: 135px;
    }
}

@media only screen and (max-height: 600px) {
    .selector-bar {
        margin-top: 135px;
    }
}